<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hotbitmapgg.rxzhihu"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hotbitmapgg.leisureread.LeisureReadApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.SplashActivity"
            android:theme="@style/AppTheme.LaunchStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--日报内容详情界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.DailyDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar" />


        <!--主题日报详情界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.ThemesDailyDetailsActivity"
            android:screenOrientation="portrait" />

        <!--日报评论界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.DailyCommentActivity"
            android:screenOrientation="portrait" />

        <!--专栏详情界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.SectionsDetailsActivity"
            android:screenOrientation="portrait" />

        <!--日报推荐者查看界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.DailyRecommendEditorsActivity"
            android:screenOrientation="portrait" />

        <!--个人信息界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.EditorInfoActivity"
            android:screenOrientation="portrait" />


        <!-- 意见反馈界面-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.FeedBackActivity"
            android:screenOrientation="portrait" />


        <!--关于知了-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.AppAboutActivity"
            android:screenOrientation="portrait" />

        <!--关于我-->
        <activity
            android:name="com.hotbitmapgg.leisureread.ui.activity.HotBitmapGGInfoActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.hotbitmapgg.leisureread.app.setting.GlideModuleSetting"
            android:value="GlideModule" />


    </application>

</manifest>
